a{
    color:blueviolet;
    text-decoration: none;
}
a:hover{
    color:brown;
}

header{
    background-color: white;
    padding: 50px;
    text-align: center;    
    margin-top: 5px;
}
body{
text-align: center;
background-image: url(img/fondo2.png);
}
h3{
    color:blueviolet;
}
h5{
    color: white;
}
p{
    color: white;
}
footer{
    background-color: white;
    padding: 30px;
    text-align: center;
    color:blueviolet;
    margin-top: 3px;
    margin-bottom: 5px;
}

